.sidedrawer {
    width: 70%;
    height: 100vh;
    background: #8a8484;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
}
.sidedrawer.show {
    transform: translateX(0);
}
.sidedrawer__links {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding: 1rem;
    font-size: 1rem;
}
.sidedrawer__links  > a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding: 1rem;
    font-size: 1rem;
}